<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
	<a class="btn btn-sm btn-primary" href="#!sorties">Sorties à venir <i class="fa fa-list"></i></a>
	<a class="btn btn-sm btn-primary" href="#!eventsarchives">Toutes les sorties <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newsortie">Créer une sortie <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
</nav>
<br>
<div class="container-fluid">
	<div class="row">
	
<div class="col-sm-3">

<div class="card">
<h4 class="card-header">Sorties</h4>
<div class="card-body">

{{sorties.length}} Sorties
<hr>
<h4>Filtres</h4>
<div class="form-check abc-checkbox  abc-checkbox-primary form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1"> Aujourd'hui </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-primary form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1" checked>
                        <label class="form-check-label" for="inlineCheckbox2"> Dans la semaine </label>
                    </div><hr>

			<div class="btn-group btn-group-toggle">
<label class="btn btn-secondary active" uib-btn-radio="'walking'" ng-model="newsortie.icon"><i class="fa fa-walking"></i></label>
<label class="btn btn-secondary active" uib-btn-radio="'beer'" ng-model="newsortie.icon"><i class="fa fa-beer"></i></label>
<label class="btn btn-secondary active" uib-btn-radio="'utensils'" ng-model="newsortie.icon"><i class="fa fa-utensils"></i></label>
<label class="btn btn-secondary active" uib-btn-radio="'film'" ng-model="newsortie.icon"><i class="fa fa-film"></i></label>
<label class="btn btn-secondary active" uib-btn-radio="'chess'" ng-model="newsortie.icon"><i class="fa fa-chess"></i></label>
<label class="btn btn-secondary active" uib-btn-radio="'theater-masks'" ng-model="newsortie.icon"><i class="fa fa-theater-masks"></i></label>
<label class="btn btn-secondary active" uib-btn-radio="'music'" ng-model="newsortie.icon"><i class="fa fa-music"></i></label>
</div>
<div class="alert alert-info" ng-if="newsortie.icon">
<span ng-if="newsortie.icon ==='beer'">Apéro</span>
<span ng-if="newsortie.icon ==='utensils'">Restaurant</span>
<span ng-if="newsortie.icon ==='walking'">Sport</span>
<span ng-if="newsortie.icon ==='film'">Cinéma</span>
<span ng-if="newsortie.icon ==='chess'">Jeux</span>
<span ng-if="newsortie.icon ==='theater-masks'">Theatre</span>
<span ng-if="newsortie.icon ==='music'">Concert</span>
</div>

<div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" datepicker-options="options"></div>
    </div>

</div>
</div>

</div>
	
	
<div class="col-sm-3">

<form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Rechercher une sortie">
        </div>
		<div class="form-group">
		<ul uib-pagination total-items="totalItems" items-per-page= "itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" previous-text="Précédent" next-text="Suivant"></ul>
		</div>
    </form>
<table class="table table-condensed table-sm">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Sortie</th>
        <th>Inscrits</th>
		<th>Organisateur</th>
      </tr>
    </thead>	
    <tbody ng-repeat="group in (filteredsorties = (sorties | orderBy : 'timestamp' | filter: search)).slice((currentPage -1) * itemsPerPage, currentPage * itemsPerPage) | groupBy : 'date' ">

	<tr class="table-primary"><td colspan=3>{{group[0].timestamp | moment: 'format': 'dddd D MMMM YYYY'}}<td></tr>
	
      <tr ng-repeat="x in group">
        <td><span class="badge badge-secondary"> <i class="fa fa-clock"></i> {{x.timestamp | moment: 'format': 'HH:mm'}}</span></td>
        <td><a href="#!sorties/{{x.id}}"><small>{{x.name}} </small><i class="fa fa-{{x.icon}}"></i></a></td>
        <td>
		<i class="fa fa-lock text-danger" ng-if="x.scope==='private'"></i>
		<i class="fa fa-unlock text-orange" ng-if="x.scope==='restricted'"></i>
		<span class="badge badge-secondary">{{x.nbinscrits}}</span>
		</td>
		<td>	 <span ng-repeat="user in users | filter:{'id': x.leader}:true">{{user.username}} 
			   <img height="40px" class="img img-rounded img-responsive" src="{{user.avatar}}" onMouseOver="this.class=''"></img>
			   <i ng-if="user.gender==='male'" class="fa fa-user text-primary"></i>
			   <i ng-if="user.gender==='female'" class="fa fa-user text-pink"></i>
	</span></td>
      </tr>
	  </tbody>
	  </table>
</div>



</div>
</div>