<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
	<a class="btn btn-sm btn-primary" href="#!members">Liste des membres <i class="fa fa-list"></i></a>
	<a class="btn btn-sm btn-primary" href="#!friends">Mes amis <i class="fa fa-users"></i></a>
  </form>	  
	</ul>
</nav>
<br>

<div class="container-fluid">
<div class="row">
<div class="col">
<div class="alert alert-info" ng-if="friends === ''">Vous n'avez pas d'amis dans vos listes, vous pouvez en ajouter depuis la section membres</div>

<div class="card-deck"> 
<div class="card border-success bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Liste d'amis n°1</div>
  <div class="card-body text-dark">
    <p class="card-text">
	<span ng-repeat="friend in friends | filter:{listid:'1'}">{{(users|filter:{id:friend.to}: true)[0].username}}	
	<i ng-if="(users|filter:{id:friend.to}:true)[0].gender === 'male'" class="fa fa-user text-primary"></i>
	<i ng-if="(users|filter:{id:friend.to}:true)[0].gender === 'female'" class="fa fa-user text-pink"></i>
	<br>
		
	<div class="alert alert-info" ng-if="(friends|filter:{listid:'1'}).length == 0">Vous n'avez pas d'amis dans cette liste, vous pouvez en ajouter depuis la section membres</div>
		
	</span>
	</p>
  </div>
</div>
<div class="card border-success bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Liste d'amis n°2</div>
  <div class="card-body text-dark">
    <p class="card-text">
	
	<span ng-repeat="friend in friends | filter:{listid:'2'}">{{(users|filter:{id:friend.to}:true)[0].username}}	
	<i ng-if="(users|filter:{id:friend.to}:true)[0].gender === 'male'" class="fa fa-user text-primary"></i>
	<i ng-if="(users|filter:{id:friend.to}:true)[0].gender === 'female'" class="fa fa-user text-pink"></i>
	<br></span>
	
	<div class="alert alert-info" ng-if="(friends|filter:{listid:'2'}).length == 0">Vous n'avez pas d'amis dans cette liste, vous pouvez en ajouter depuis la section membres</div>
	
	</p>
  </div>
</div>
</div>

<div class="card-deck">
<div class="card border-success bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Liste d'amis n°3</div>
  <div class="card-body text-dark">
    <p class="card-text">
	
	<span ng-repeat="friend in friends |filter:{listid:'3'}">{{(users|filter:{id:friend.to}:true)[0].username}}	
	<i ng-if="(users|filter:{id:friend.to}:true)[0].gender === 'male'" class="fa fa-user text-primary"></i>
	<i ng-if="(users|filter:{id:friend.to}:true)[0].gender === 'female'" class="fa fa-user text-pink"></i>
	<br></span>
	
	<div class="alert alert-info" ng-if="(friends|filter:{listid:'3'}).length == 0">Vous n'avez pas d'amis dans cette liste, vous pouvez en ajouter depuis la section membres</div>
	
	</p>
  </div>
</div>
<div class="card border-danger bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Liste d'indésirables</div>
  <div class="card-body text-dark">
    <p class="card-text">
	
	<span ng-repeat="ban in bans">{{(users|filter:{id:ban.to}:true)[0].username}}	
	<i ng-if="(users|filter:{id:ban.to}:true)[0].gender === 'male'" class="fa fa-user text-primary"></i>
	<i ng-if="(users|filter:{id:ban.to}:true)[0].gender === 'female'" class="fa fa-user text-pink"></i>
	<br></span>
	
	<div class="alert alert-info" ng-if="(bans).length == 0">Liste vide</div>
	
	</p>
  </div>
</div>
</div>
</div>
</div>
</div>