<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  href="#"><i class="fa fa-home"></i></a>
    <ul class="navbar-nav">
	      <li class="nav-item">
        <a class="nav-link"  href="#!intro">Présentation <i class="fa fa-question"></i></a>
      </li>
    </ul>
</nav>



<div class="jumbotron"  >
        <div class="container-fluid">
<div class="row">
<div class="col-md-3 col-md-offset-3">
    <h2>Bienvenue à Carca <i class="fab fa-fort-awesome-alt"></i></h2>
    <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <input placeholder="Pseudo ou E-mail" type="text" name="username" class="form-control" ng-model="vm.username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required" class="alert alert-danger">Ce champ est requis</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <input placeholder="Mot de passe" type="password" name="password" class="form-control" ng-model="vm.password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required" class="alert alert-danger">Ce champ est requis</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-primary">Se connecter</button>
            <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<small><a href="#">Mot de passe perdu  ?</a></small>
		</div>
        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
    </form>
	<a href="#!createaccount" class="btn btn-secondary" role="button">Créer un compte</a>
<hr>
	se connecter avec : <i class="fab fa-facebook"></i> <i class="fab fa-google"></i> <i class="fab fa-slack-hash"></i> <i class="fab fa-twitter"></i> (pas encore implementé)
</div>
<div class="col-sm-3">
<img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/1_carcassonne_aerial_2016.jpg/800px-1_carcassonne_aerial_2016.jpg" width="800px" height="600px"> <br>
<small><a href="https://commons.wikimedia.org/wiki/File:1_carcassonne_aerial_2016.jpg">© lien copyright</a></small>
</div>
<div class="col-sm-4">
<h4>Prochaines sorties</h4>
  <table class="table table-condensed table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Sortie</th>
        <th>Inscrits</th>
		<th>Organisateur</th>
      </tr>
    </thead>

	
    <tbody ng-repeat="group in sorties | limitTo : 5 | orderBy : 'date'  | groupBy : 'date'">
	<tr class="table-primary"><td colspan=3>{{group[0].timestamp | pgtimestamp | date:'EEEE dd MMMM'}}<td></tr>	
      <tr ng-repeat="x in group">
        <td><span class="badge badge-secondary"> <i class="fa fa-clock"></i> {{x.timestamp | pgtimestamp | date:'HH:mm'}}</span></td>
        <td><a href="#!sorties/{{x.id}}" ng-click="" class="text-secondary"><small>{{x.name}} </small><i class="fa fa-{{x.icon}}"></i></a></td>
        <td>		
		<span ng-repeat="inscription in inscriptions | filter:{ sortieid: x.id } as nbinscrits"></span>
		<span class="badge badge-secondary">{{nbinscrits.length}}</span>		
		</td>
		<td>	 <span ng-repeat="user in users | filter:{'id': x.leader}:true">{{user.username}} 
			   <i ng-if="user.gender==='male'" class="fa fa-user text-navy-light"></i>
			   <i ng-if="user.gender==='female'" class="fa fa-user text-pink"></i>
	</span></td>
      </tr>
	  </tbody>
	  </table>

</div>
<hr>

</div></div></div>


