<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
	<a class="btn btn-sm btn-primary" href="#!members">Liste des membres <i class="fa fa-list"></i></a>
	<a class="btn btn-sm btn-primary" href="#!friends">Mes amis <i class="fa fa-users"></i></a>
  </form>	  
	</ul>
</nav>
<br>

<div class="container-fluid">
<div class="row">
	<div class="col">
		<h2>{{user[0].username}}</h2>
		
		<div class="row">
		<div class="col-md-2">
		<img width="120px" height="120px" class="img-fluid img-thumbnail" src="{{user[0].avatar}}"></img>
		</div>
		<div class="col-md-5">
		
		<table id="users" class="table table-sm table-condensed">
		<thead>
		<tr class="table-secondary">

		</tr>
		</thead>
		<tbody>
		<tr>
		<td>Liste d'ami N°1
		</td>
		<td>
		<span ng-if="userrel.friends.indexOf('1') > -1"><i class="fa fa-check-circle fa-lg text-success"></i></span>
		<span ng-if="userrel.friends.indexOf('1') == -1"> <i class="fa fa-times-circle fa-lg text-danger"></i></span>
		</td>
		<td>
		<a type="button" class="btn btn-outline-success" ng-if="userrel.friends.indexOf('1') == -1" ng-click="addfriend(user[0].id,'1')">
		Ajouter dans la liste d'amis n°1</a>
		<a type="button" class="btn btn-outline-success" ng-if="userrel.friends.indexOf('1') > -1" ng-click="removefriend(user[0].id,'1')">
		Retirer de la liste d'amis n°1</a>
		</td>
		</tr>
		<tr><td>Liste d'ami N°2</td>
		<td>
		<span ng-if="userrel.friends.indexOf('2') > -1"><i class="fa fa-check-circle fa-lg text-success"></i></span>
		<span ng-if="userrel.friends.indexOf('2') == -1"> <i class="fa fa-times-circle fa-lg text-danger"></i></span>
		</td>
		<td>
		<a type="button" class="btn btn-outline-success" ng-if="userrel.friends.indexOf('2') == -1" ng-click="addfriend(user[0].id,'2')">
		Ajouter dans la liste d'amis n°2</a>
		<a type="button" class="btn btn-outline-success" ng-if="userrel.friends.indexOf('2') > -1" ng-click="removefriend(user[0].id,'2')">
		Retirer de la liste d'amis n°2</a>
		</td>
		</tr>
		<tr><td>Liste d'ami N°3</td>
		<td>
		<span ng-if="userrel.friends.indexOf('3') > -1"><i class="fa fa-check-circle fa-lg text-success"></i></span>
		<span ng-if="userrel.friends.indexOf('3') == -1"> <i class="fa fa-times-circle fa-lg text-danger"></i></span>
		</td>
		<td>
		<a type="button" class="btn btn-outline-success" ng-if="userrel.friends.indexOf('3') == -1" ng-click="addfriend(user[0].id,'3')">
		Ajouter dans la liste d'amis n°3</a>
		<a type="button" class="btn btn-outline-success" ng-if="userrel.friends.indexOf('3') > -1" ng-click="removefriend(user[0].id,'3')">
		Retirer de la liste d'amis n°3</a>
		</td>
		</tr>
		</tbody>
		
		</table>
		<br>
		<a type="button" class="btn btn-outline-danger" ng-if="userrel.bans == true" ng-click="unblockmember(user[0].id)"> <i class="fa fa-heart-broken fa-lg text-danger"></i> Débloquer</a>
		<a type="button" class="btn btn-outline-danger" ng-if="userrel.bans == false" ng-click="blockmember(user[0].id)"> <i class="fa fa-heart-broken fa-lg text-danger"></i> Bloquer</a>
		<a type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-check-circle fa-lg text-success"></i> Valider ce membre</a>
		
				<div class="alert alert-danger" ng-if="msg_error">{{msg_error}}</div>
		<div class="alert alert-success" ng-if="msg_ok">{{msg_ok}}</div>
		</div>
		</div>
		
	</div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Valider un membre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Vous validez que cette personne existe bien et qu'il ne s'agit pas d'un faux profil ?
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
        <a data-dismiss="modal" data-backdrop="false" type="button" href="#!sorties" ng-click="validatemember(user[0].id)" class="btn btn-danger d-block d-sm-inline">
  Oui, je valide ce membre 
</a>
      </div>
    </div>
  </div>
</div>





