<div ng-include="'header.html'"></div>
<a type="button" href="#!members" class="btn btn-secondary d-block d-sm-inline" ng-if="showusers===false">
  Afficher la liste des membres <i class="fa fa-list"></i>
</a>
<div class="container-fluid">

<div class="row">

    <div class="col" ng-if="showusers">


<table class="table table-sm">
<thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Gender</th>
	  <th scope="col">Avatar</th>
	  <th scope="col">Amis</th>

    </tr>
  </thead>
  <tbody>

  <tr ng-repeat="x in users | orderBy : 'username'">
    <td><a href="#!members/{{x.username}}">{{ x.username }}</a></td>
    <td ng-if="x.gender ==='male'"><i class="fa fa-user text-primary"></i></td>
	<td ng-if="x.gender ==='female'"><i class="fa fa-user text-pink"></i></td>
	<td ng-if="x.avatar"><img width="120px" height="120px" class="img-fluid img-thumbnail" src="{{x.avatar}}"></img></td>
	<td ng-if="x.username === 'bart'"><i class="fa fa-angry fa-lg text-danger"></i></td>
	<td ng-if="x.username === 'lisa'"><i class="fa fa-grin fa-lg"></i></td>
	<td ng-if="x.username !== 'bart' && x.username !=='lisa'"><i class="fa fa-grin-beam fa-lg text-success"></i></td>
  </tr>
  </tbody>
</table>

    </div>
	
	<div class="col" ng-if="user">
	
		<h2>{{user}}</h2>
	<hr>
	
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-profil-tab" data-toggle="pill" data-target="#pills-profil" role="tab" aria-controls="pills-profil" aria-selected="true"><small>Profil <i class="fa fa-user"></i></small> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-trophies-tab" data-toggle="pill" data-target="#pills-trophies" role="tab" aria-controls="pills-trophies" aria-selected="false"><small>Trophees <i class="fa fa-trophy"></i></small></a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-profil" role="tabpanel" aria-labelledby="pills-profil-tab">
  
  
  <div class="row">
<div class="col-md-2">
  <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O5omkuVdwUY?rel=0" allowfullscreen></iframe>
</div>
</div>
</div>
  
  	last activity<br>
	prochaines sorties<br>
	blabla<br>
  
	</div>
	  <div class="tab-pane fade" id="pills-trophies" role="tabpanel" aria-labelledby="pills-trophies-tab">
	  
	  	
	<div class="card-columns">
  <div class="card bg-success">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer une sortie</h5>
      <p class="card-text">vous avez créer 1 sortie</p>
    </div>
  </div>
  
  <div class="card bg-danger">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer 5 sortie</h5>
      <p class="card-text">vous avez créer 5 sorties</p>
    </div>
  </div>
  
  <div class="card bg-danger">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer 20 sorties</h5>
      <p class="card-text">vous avez créer 20 sorties</p>
    </div>
  </div>
  
    <div class="card bg-danger">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer 20 sorties</h5>
      <p class="card-text">vous avez créer 20 sorties</p>
    </div>
  </div>

    <div class="card bg-danger">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer 20 sorties</h5>
      <p class="card-text">vous avez créer 20 sorties</p>
    </div>
  </div>

    <div class="card bg-danger">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer 20 sorties</h5>
      <p class="card-text">vous avez créer 20 sorties</p>
    </div>
  </div>

    <div class="card bg-danger">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Créer 20 sorties</h5>
      <p class="card-text">vous avez créer 20 sorties</p>
    </div>
  </div>


</div>
	  
	</div>
	</div>
	
	



	
	
	</div>

  </div>
			
			
        </div>




