<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
	<a class="btn btn-sm btn-primary" href="#!members">Liste des membres <i class="fa fa-list"></i></a>
  </form>	  
	</ul>
</nav>
<br>

<div class="container-fluid">
<div class="row">
<div class="col-md-3">



<form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Rechercher un membre">
        </div>
		<div class="form-group">
		<ul uib-pagination total-items="totalItems" items-per-page= "itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" previous-text="Précédent" next-text="Suivant"></ul>
		</div>
    </form>



	<table id="users" class="table table-sm table-condensed">
        <thead>
            <tr class="table-secondary">
      <th scope="col">Pseudo</th>
      <th scope="col">Sexe</th>
	  <th scope="col">Profil validé</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in (users |  filter: search | orderBy : 'username' ).slice((currentPage -1) * itemsPerPage, currentPage * itemsPerPage)">
    <td>
	<a href="#!members/{{x.id}}">{{ x.username }}</a>
	</td>
   <td ng-if="x.gender ==='male'"><i class="fa fa-user text-primary"></i></td>
	<td ng-if="x.gender ==='female'"><i class="fa fa-user text-pink"></i></td>
	<td ng-if="x.gender ==='neutre'"><i class="fa fa-user"></i></td>
	<td>
	<i ng-if="x.validated ==='t'" class="fa fa-star text-green"></i>
	<i ng-if="x.validated ==='f'" class="far fa-times-circle text-danger"></i>
	</td>
            </tr>
			</tbody>
	</table>
{{users.length}} membres


	</div>
	<div class="col-md-9" ng-if="user">
		<h2>{{user[0].username}}</h2>
		
		<div class="row">
		<div class="col-md-2">
		<img width="120px" height="120px" class="img-fluid img-thumbnail" src="{{user[0].avatar}}"></img>
		</div>
		<div class="col-md-5">
		
		<table id="users" class="table table-sm table-condensed">
		<thead>
		<tr class="table-secondary">

		</tr>
		</thead>
		<tbody>
		<tr>
		<td>Liste d'ami N°1
		</td>
		<td>
		<span ng-if="(rels['result']|filter:{listid:'1'}).length == 1"><i class="fa fa-check-circle fa-lg text-success"></i></span>
		<span ng-if="(rels['result']|filter:{listid:'1'}).length !== 1"> <i class="fa fa-times-circle fa-lg text-danger"></i></span>
		</td>
		<td>
		<a type="button" class="btn btn-outline-success" ng-if="(rels['result']|filter:{listid:'1'}).length !== 1" ng-click="addfriend(user[0].id,'1')">
		Ajouter dans la liste d'amis n°1</a>
		<a type="button" class="btn btn-outline-success" ng-if="(rels['result']|filter:{listid:'1'}).length == 1" ng-click="removefriend(user[0].id,'1')">
		Retirer de la liste d'amis n°1</a>
		</td>
		</tr>
		<tr><td>Liste d'ami N°2</td>
		<td>
		<span ng-if="(rels['result']|filter:{listid:'2'}).length == 1"><i class="fa fa-check-circle fa-lg text-success"></i></span>
		<span ng-if="(rels['result']|filter:{listid:'2'}).length !== 1"> <i class="fa fa-times-circle fa-lg text-danger"></i></span>
		</td>
		<td>
		<a type="button" class="btn btn-outline-success" ng-if="(rels['result']|filter:{listid:'2'}).length !== 1" ng-click="addfriend(user[0].id,'2')">
		Ajouter dans la liste d'amis n°2</a>
		<a type="button" class="btn btn-outline-success" ng-if="(rels['result']|filter:{listid:'2'}).length == 1" ng-click="removefriend(user[0].id,'2')">
		Retirer de la liste d'amis n°2</a>
		</td>
		</tr>
		<tr><td>Liste d'ami N°3</td>
		<td>
		<span ng-if="(rels['result']|filter:{listid:'3'}).length == 1"><i class="fa fa-check-circle fa-lg text-success"></i></span>
		<span ng-if="(rels['result']|filter:{listid:'3'}).length !== 1"> <i class="fa fa-times-circle fa-lg text-danger"></i></span>
		</td>
		<td>
		<a type="button" class="btn btn-outline-success" ng-if="(rels['result']|filter:{listid:'3'}).length !== 1" ng-click="addfriend(user[0].id,'3')">
		Ajouter dans la liste d'amis n°3</a>
		<a type="button" class="btn btn-outline-success" ng-if="(rels['result']|filter:{listid:'3'}).length == 1" ng-click="removefriend(user[0].id,'3')">
		Retirer de la liste d'amis n°3</a>
		</td>
		</tr>
		</tbody>
		
		</table>
		<br>
		<a type="button" class="btn btn-outline-danger" ng-click=""> <i class="fa fa-heart-broken fa-lg text-danger"></i> Bloquer</a>

		<div class="alert alert-danger" ng-if="msg_error">{{msg_error}}</div>
		<div class="alert alert-success" ng-if="msg_ok">{{msg_ok}}</div>
		
		<a type="button" class="btn btn-outline-success" ng-click=""> <i class="fa fa-check-circle fa-lg text-success"></i> Valider ce membre</a>
		</div>
		</div>
		
	</div>
  </div>
</div>






