<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md">
			<a type="button" href="#!newmessage" class="btn btn-secondary d-block d-sm-inline" ng-if="shownewmessage===false">
				Créer un nouveau message <i class="fa fa-plus-circle"></i>
			</a>
			<a type="button" href="#!messages" class="btn btn-secondary d-block d-sm-inline" ng-if="showmessages===false">
				Afficher la liste des messages <i class="fa fa-list"></i>
			</a>
		</div>
	</div>
</div>	   
	   <br>

			   
	   
	   
<div class="container-fluid">
<div class="row">
<div class="col-md" ng-if="shownewmessage">	




<div class="form-group">
<tags-input class="bootstrap" ng-model="newmessage.dest" display-property="username" placeholder="Ajouter un destinataire" addFromAutocompleteOnly="true">
      <auto-complete source="users"></auto-complete>
    </tags-input>
<input type="text" 
	   ng-model="newmessage.name" 
	   placeholder="Sujet" 
	   class="form-control" >	   
	   
  <textarea ng-model="newmessage.msg" class="form-control" rows="5" id="message" placeholder="Message..."></textarea><br>
  <a class="float-right btn btn-outline-primary ml-2" ng-click="createmessage(newmessage.dest[0].id,newmessage.name,newmessage.msg)"> <i class="fa fa-reply"></i> Envoyer</a>
</div><br><br> 
	 

	 
</div>

<div class="col-md" ng-if="showmessages">

	<table id="tablemessages" class="table table-striped dt-responsive" style="width:100%">
        <thead>
            <tr>
                <th>Contact</th>
                <th>Titre</th>
				<th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in messages">
                <td ng-if="msg.userfrom !==username"><span class="badge badge-info">{{msg.userfrom}}</span></td>
                <td ng-if="msg.userto !==username"><span class="badge badge-info">{{msg.userto}}</span></td>
                <td><a href="#!messages/{{msg.id}}">{{msg.title}}</a></td>
				<td><small>{{msg.timestamp  | pgtimestamp | date:'dd-MM-yyyy (HH:mm)'}}<small></td>
            </tr>
			</tbody>
			</table>



</div>

<div class="col-md" ng-if="message">
            <div class="alert alert-info" ng-repeat="desc in descmessage">
				
               <span class="badge badge-teal" ng-repeat="user in users | filter:{'id': desc.from}:true">{{user.username}} 
			   <i ng-if="user.gender==='male'" class="fa fa-user text-primary"></i>
			   <i ng-if="user.gender==='female'" class="fa fa-user text-pink"></i>
			   </span>
                {{desc.content}}<br>
				{{desc.timestamp  | pgtimestamp | date:'dd-MM-yyyy (HH:mm)'}}
            </div>
			
<div class="form-group">
  <textarea ng-model="replymsg.msg" class="form-control" rows="5" id="message" placeholder="Message..."></textarea><br>
  <a class="float-right btn btn-outline-primary ml-2" ng-click="replymessage(replymsg.msg)"> <i class="fa fa-reply"></i> Envoyer</a>
</div>

</div>



</div>
</div>