<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!messages" >Mes messages <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newmessage" >Nouveau message <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
	    <ul class="navbar-nav ml-auto">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!forums" ><i class="fa fa-comment-dots"></i> Forums</a>
  </form>	  
	</ul>
</nav>

<br>

	   
<div class="container-fluid">
<div class="row">


<div class="col-md">
            <div class="alert alert-info" ng-repeat="desc in descmessage">
				
               <span class="badge badge-teal" ng-repeat="user in users | filter:{'id': desc.from}:true">{{user.username}} 
			   <i ng-if="user.gender==='male'" class="fa fa-user text-primary"></i>
			   <i ng-if="user.gender==='female'" class="fa fa-user text-pink"></i>
			   </span>
                {{desc.content}}<br>
				{{desc.timestamp  | moment: 'format': 'dddd D MMMM YYYY (HH:mm)'}}
				<!--span ng-if="desc.from==userid" class="float-right"><small>Modifier votre message <i class="fa fa-edit"></i><small></span-->
            </div>
			
<div class="form-group">
  <textarea ng-model="replymsg.msg" class="form-control" rows="5" id="message" placeholder="Message..."></textarea><br>
  <a class="float-right btn btn-outline-primary ml-2" ng-click="replymessage(replymsg.msg)"> <i class="fa fa-reply"></i> Envoyer</a>
</div>

</div>



</div>
</div>