<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!messages" >Mes messages <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newmessage" >Nouveau message <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
	    <ul class="navbar-nav ml-auto">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!forums" ><i class="fa fa-comment-dots"></i> Forums</a>
  </form>	  
	</ul>
</nav>

<br>

	   
<div class="container-fluid">
<div class="row">


<div class="col-md">




            <div class="card mb-2" ng-class="{'ml-auto w-50' : desc.from !== userid , 'w-50' : desc.from == userid}" ng-repeat="desc in descmessage.slice((currentPage -1) * itemsPerPage, currentPage * itemsPerPage)">
				<div class="card-header">				
				<span ng-repeat="user in users | filter:{'id': desc.from}:true">{{user.username}} 
			   <i ng-if="user.gender==='male'" class="fa fa-user text-primary"></i>
			   <i ng-if="user.gender==='female'" class="fa fa-user text-pink"></i>
			   </span>
               
				<span class="float-right"><small>{{desc.timestamp  | moment: 'format': 'dddd D MMMM YYYY (HH:mm)'}}</small></span>				
				</div>
				<div class="card-body"><p ng-bind-html="desc.content | trusted"></p></div>
				
			</div><br>
			<ul uib-pagination total-items="totalItems" items-per-page= "itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" previous-text="Précédent" next-text="Suivant"></ul>

</div>
<div class="col-md">
<h4>Envoyer un message</h4>
<div class="form-group">
 <textarea ui-tinymce="tinyMceOptions"
      ng-model="replymsg.msg" 
      ></textarea>
 <br>
  <a class="float-right btn btn-outline-primary ml-2" ng-click="replymessage(replymsg.msg)"> <i class="fa fa-reply"></i> Envoyer</a><br><br>
</div>

</div>



</div>
</div>