<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!messages" >Mes messages <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newmessage" >Nouveau message <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
	    <ul class="navbar-nav ml-auto">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!forums" ><i class="fa fa-comment-dots"></i> Forums</a>
  </form>	  
	</ul>
</nav>

<br>


<div class="container-fluid">
<div class="row">

<div class="col-md">

	<table id="tablemessages" class="table table-condensed table-sm" style="width:100%">
        <thead>
            <tr>
                <th>Contact</th>
                <th>Titre</th>
				<th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in messages.slice((currentPage -1) * itemsPerPage, currentPage * itemsPerPage)">
                <td ng-if="msg.userfrom !==userid">
				<span ng-repeat="user in users | filter:{'id': msg.userfrom}:true">
				{{user.username}} 
				<i class="fa fa-user text-primary" ng-if="user.gender==='male'"></i>
				<i class="fa fa-user text-pink" ng-if="user.gender==='female'"></i>
				</span></td>
                <td ng-if="msg.userto !==userid">
				<span ng-repeat="user in users | filter:{'id': msg.userto}:true">
				{{user.username}} 
				<i class="fa fa-user text-primary" ng-if="user.gender==='male'"></i>
				<i class="fa fa-user text-pink" ng-if="user.gender==='female'"></i>
				</span></td>
                <td><a href="#!messages/{{msg.id}}">{{msg.title}}</a></td>
				<td><small>{{msg.timestamp | moment: 'format': 'dddd D MMMM YYYY (HH:mm)'}}<small></td>
            </tr>
			</tbody>
			</table>

<ul uib-pagination total-items="totalItems" items-per-page= "itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" previous-text="Précédent" next-text="Suivant"></ul>


</div>





</div>
</div>