<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!messages" >Mes messages <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newmessage" >Nouveau message <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
	    <ul class="navbar-nav ml-auto">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!forums" ><i class="fa fa-comment-dots"></i> Forums</a>
  </form>	  
	</ul>
</nav>

<br>

	   
<div class="container-fluid">
<div class="row">
<div class="col-md">	




<div class="form-group">
<tags-input class="bootstrap" ng-model="newmessage.dest" display-property="username" placeholder="Ajouter un destinataire" add-from-autocomplete-only="true">
      <auto-complete source="users"></auto-complete>
    </tags-input>
<input type="text" 
	   ng-model="newmessage.name" 
	   placeholder="Sujet" 
	   class="form-control" >	   
	   
  <textarea ng-model="newmessage.msg" class="form-control" rows="5" id="message" placeholder="Message..."></textarea><br>
  <a class="float-right btn btn-outline-primary ml-2" ng-click="createmessage(newmessage.dest[0].id,newmessage.name,newmessage.msg)"> <i class="fa fa-reply"></i> Envoyer</a>
</div><br><br> 
	 
<div class="alert alert-info">{{newmessage}}</div>
	 
</div>







</div>
</div>