<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!messages" >Mes messages <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newmessage" >Nouveau message <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
	    <ul class="navbar-nav ml-auto">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!forums" ><i class="fa fa-comment-dots"></i> Forums</a>
  </form>	  
	</ul>
</nav>

<br>

	   
<div class="container-fluid">
<div class="row">
<div class="col-md">	


<div class="form-group">
	<input type="text" ng-model="newmessage.dest" required uib-typeahead="user as user.username for user in users | filter:$viewValue | limitTo:8" class="form-control mb-2" placeholder="Destinataire">
	
<input type="text" 
	   ng-model="newmessage.name" 
	   placeholder="Sujet" 
	   class="form-control mb-2" >	   
	   
  <textarea ui-tinymce="tinyMceOptions"
      ng-model="newmessage.msg" placeholder="Votre message..."
      ></textarea>
  <br>
  <button class="float-right btn btn-primary ml-2" ng-disabled="!newmessage.dest.id || !newmessage.name || !newmessage.msg" ng-click="createmessage(newmessage.dest.id,newmessage.name,newmessage.msg)"> <i class="fa fa-reply"></i> Envoyer</button>
  
  
</div><br><br> 


	 

	 
</div>







</div>
</div>