<div ng-include="'header.html'"></div>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary py-0">
    <ul class="navbar-nav">
  <form class="form-inline">
    <a class="btn btn-sm btn-primary" href="#!sorties">Sorties à venir <i class="fa fa-list"></i></a>
	<a class="btn btn-sm btn-primary" href="#!eventsarchives">Toutes les sorties <i class="fa fa-list"></i></a>
    <a class="btn btn-sm btn-primary" href="#!newsortie">Créer une sortie <i class="fa fa-plus-circle"></i></a>
  </form>	  
	</ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        c'est votre dernier mot ?
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-dismiss="modal">euh</a>
        <a data-dismiss="modal" data-backdrop="false" type="button" href="#!sorties" ng-click="deletesortie(sortie)" class="btn btn-danger d-block d-sm-inline" ng-if="showdeletesortie===false">
  Je suis sûr 
</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container-fluid">
	<div class="row">
		
	
				
<div class="col-sm-3" ng-if="!sortie && !shownewsortie">

<form class="form">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Rechercher une sortie">
        </div>
		<div class="form-group">
		<ul uib-pagination total-items="totalItems" items-per-page= "itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" previous-text="Précédent" next-text="Suivant"></ul>
		</div>
    </form>



<table class="table table-condensed table-sm">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Sortie</th>
        <th>Inscrits</th>
		<th>Organisateur</th>
      </tr>
    </thead>

	
    <tbody ng-repeat="group in (filteredsorties = (nextsorties | orderBy : 'timestamp' | filter: search)).slice((currentPage -1) * itemsPerPage, currentPage * itemsPerPage) | groupBy : 'date' ">

	<tr class="table-primary"><td colspan=3>{{group[0].timestamp | pgtimestamp | date:'EEEE dd MMMM yyyy'}}<td></tr>
	
      <tr ng-repeat="x in group">
        <td><span class="badge badge-secondary"> <i class="fa fa-clock"></i> {{x.timestamp | pgtimestamp | date:'HH:mm'}}</span></td>
        <td><a href="#!sorties/{{x.id}}"><small>{{x.name}} </small><i class="fa fa-{{x.icon}}"></i></a></td>
        <td><i class="fa fa-lock text-danger" ng-if="x.scope==='private'"></i><i class="fa fa-unlock text-orange" ng-if="x.scope==='restricted'"></i> 2/12</td>
		<td>	 <span ng-repeat="user in users | filter:{'id': x.leader}:true">{{user.username}} 
			   <img height="40px" class="img img-rounded img-responsive" src="{{user.avatar}}" onMouseOver="this.class=''"></img>
			   <i ng-if="user.gender==='male'" class="fa fa-user text-primary"></i>
			   <i ng-if="user.gender==='female'" class="fa fa-user text-pink"></i>
	</span></td>
      </tr>
	  </tbody>
	  </table>

	  

					
</div>

<div class="col-sm-9" ng-if="!sortie && !shownewsortie">

  <!--div class="container">
<h4>Dernières photos</h4>
On reconnait bien carca lol
  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a  class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
          </a>
    </div>
  </div>

</div-->

</div>


<div class="col-sm-6" ng-if="sortie">
<h2 class="text-center">{{descsortie[0].name}}</h2>
Date: <span class="badge badge-info">{{descsortie[0].timestamp | pgtimestamp | date:'EEEE dd MMMM yyyy'}}</span><br>
Heure: <span class="badge badge-info">{{descsortie[0].timestamp | pgtimestamp | date:'HH:mm'}}</span><br>
Organisateur 
<span class="badge badge-info" ng-repeat="user in users | filter:{'id': descsortie[0].leader}:true">{{user.username}} 
<img class="img-responsive" height="120px" class="img-fluid img-thumbnail" src="{{user.avatar}}" onMouseOver="this.class=''"></img>
</span>

<br>
Description : <span>{{descsortie[0].description}}</span><br>


<hr>


<hr>
<h3>Commentaires <i class="fa fa-comments"></i></h3>
<br>
<div class="col-md">


<div class="row" ng-repeat="comment in comments | orderBy: timestamp : reverse" ng-class-odd="'alert-info'" ng-class-even="'alert-primary'">
        	    <div class="col-md-2" ng-repeat="user in users | filter:{'username': comment.username}:true">
        	        <img  src="{{user.avatar}}" height="50px" class="img img-responsive"/>
										
        	        <small class="text-secondary">{{comment.timestamp  | pgtimestamp | date:'EEEE dd MMMM yyyy (hh:mm)'}}</small>
					<p><a class="float-left" href="#!members/{{comment.username}}"><strong>{{comment.username}}</strong></a></p>
        	    </div>
        	    <div class="col-md-10">

        	       <div class="clearfix"></div>
        	        <div class="alert">{{comment.comment}}</div>

        	    </div>
	        </div>
			
			
 
</div>

<div class="form-group">
  <textarea ng-model="comment" class="form-control" rows="5" id="comment" placeholder="Ajouter un commentaire..."></textarea><br>
  <a class="float-right btn btn-outline-primary ml-2" ng-click="addcomment(descsortie[0].id,comment)"> <i class="fa fa-reply"></i> Envoyer</a>
</div><br><br>
  
  </div>
  
<div class="col-sm-3" ng-if="sortie">

<h3>Inscrits</h3>

{{inscriptions.length}} Inscrits pour cette sortie<br>

<span ng-repeat="inscrit in inscriptions" ><small class="badge badge-primary">{{inscrit.username}}</small> </span>


<hr>
<a type="button"  class="btn btn-success d-block d-sm-inline" ng-click="register(sortie)">
  S'inscrire <i class="fa fa-plus-circle"></i>
</a> 
<a type="button" class="btn btn-danger d-block d-sm-inline" ng-click="unregister(sortie)">
  Se désinscrire <i class="fa fa-minus-circle"></i>
</a>
<hr>

  <div id="demo" class="carousel slide col-md" data-ride="carousel">
 <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://picsum.photos/300/300/?random">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/299/300/?random">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/298/300/?random">
    </div>
  </div>
  


  <!-- Left and right controls -->
  <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" data-target="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<hr>
	<a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" ng-if="showdeletesortie===false">
			   Supprimer cette sortie ? <i class="fa fa-trash-alt"></i>
			</a>

</div>

</div>
</div>
