
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
<div class="row">
<div class="col-md">
<a type="button" class="btn btn-secondary d-block d-sm-inline" data-toggle="modal" data-target="#exampleModalCenter">
  Créer une nouvelle sortie <i class="fa fa-plus-circle"></i>
</a>
<a type="button" href="#!sorties" class="btn btn-secondary d-block d-sm-inline" ng-if="showsorties===false">
  Afficher la liste des sorties <i class="fa fa-user"></i>
</a>
</div>
</div>
</div>
<br><hr>
<div class="container-fluid">
<div class="row">
    <div class="col-md" ng-if="showsorties">
	
	<div ng-repeat="group in sorties | groupBy : 'date'">
	  <div class="list-group" >

	  <li class="list-group-item list-group-item-dark">{{group[0].date | date}}</li>
	  <div ng-repeat="x in group">
	  <a href="#!sorties/{{x.name}}" class="list-group-item list-group-item-action">
	  <i class="fa fa-{{x.icon}}"></i>
	  
	  <i class="fa fa-lock text-danger" ng-if="x.scope==='private'"></i>
  {{x.name}} {{x.scope}} 
	  </a>
	  
	  </div>

	  </div><br></div>
	


</div>
<div class="col" ng-if="sortie">

<div class="card">
  <h5 class="card-header">{{sortie}}</h5>
  <div class="card-body">
    <h5 class="card-title">blabla</h5>
	
	
	
    <p class="card-text">blablabla</p>
   
  </div>
</div>

</div>

</div>
